<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">infinito</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{% for item in menu_items %}
			{% if item.name %}
			{% if item.url %}
			<li class="nav-item {% if item.active %}active{% endif %}"><a
				class="nav-link" href="{{ item.url }}"> {{ item.name }}
			</a></li>
			{% elseif item.toArray %}
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> {{ item.name }}
			</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					{%for link in item %}
					<a class="dropdown-item {% if link.active %}active{% endif %}"
						href="{{ link.url }}"> {{ link.name }}
					</a>
					{% endfor %}
				</div></li>
			{% endif %}
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>
